<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="example-config">
    <Properties>
        <Property name="LOG_DIR">e:/carparking_logs/</Property>
        <Property name="ARCHIVE">e:/carparking_logs/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/carparking.log"
                     filePattern="${ARCHIVE}/carparking.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fileWriter"/>
        </Root>
        <Logger name="com.sobis" level="DEBUG" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>        
         <Logger name="com.sobis.carparking" level="DEBUG" additivity="false">            
            <appender-ref ref="fileWriter"/>
        </Logger>  
        <Logger name="org.hibernate" level="ERROR" additivity="false">
            <appender-ref ref="fileWriter"/>
        </Logger>
       
         <Logger name="org.springframework" level="ERROR" additivity="false">
            <appender-ref ref="fileWriter"/>
        </Logger>            
    </Loggers>
</Configuration>